body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #060043;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group .options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.college-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.college-logo1 {
    max-width: 100px; /* Adjust max-width of logo */
    max-height: 120px; /* Adjust max-height of logo */
    margin-right: 10px; /* Adjust margin between logo and college name */
}

.college-logo2 {
    max-width: 100px; /* Adjust max-width of logo */
    max-height: 100px; /* Adjust max-height of logo */
    margin-right: 20px; /* Adjust margin between logo and college name */
}

.college-name {
    flex: 1; 
    text-align: center;
}

.college-logo1 img {
    max-width: 100%; 
    max-height: 100%; 
}

.college-logo2 img {
    max-width: 100%; 
    max-height: 100%; 
}

select#branch {
    width: 70%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 16px auto;
    margin: 0 auto;
    display: block;
}

select#year {
    width: 70%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 16px auto;
    margin: 0 auto;
    display: block;
}

select#branch option {
    padding: 8px;
}

input[type="date"] {
    width: 40%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin: 0 auto;
    display: block;
}

.submitButton {
    display: block;
    margin: 0 auto;
    background-color: #00a44d;
    color: #fff;
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.submitButton:hover {
    background-color: rgb(3, 201, 112);
}

h1,h2,h3 {
    text-align: center;
    margin-bottom: 20px;    
}

h4 {
    margin-top: 2px;
    font-weight: lighter;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group1 label {
    margin-bottom: 10px;
    text-align: center;
}

.text {
    width: 70%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
}

.text1 {
    width: 90%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
}

.response-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.response-option {
    cursor: pointer;
    padding: 6px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.response-option.selected {
    background-color: #007bff;
    color: #fff;
}

.footer {
    color: aliceblue;
    text-align: center;
    margin-bottom: 16px;
}

/*
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #278ff8;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
*/
