<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Feedback Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <div class="college-section">
            <div class="college-logo1">
                <img src="static/college logo1.jpg" alt="College Logo1">
            </div>
            <div class="college-name">
                <h1>CSMSS CHH. Shahu College of Engineering</h1>
            </div>
            <div class="college-logo2">
                <img src="static/college logo2.jpg" alt="College Logo2">
            </div>
        </div>
        <h2>Curriculum Feedback Form</h2><hr>
        <form id="curriculumForm" method="POST" action="/submit-curriculum-feedback">
            <div class="form-group1" style="margin-top: 20px;">
                <label for="name">Name:</label>
                <input type="text" id="name" name="Name" class="text" placeholder="Enter your full name" required>
            </div><br>
            <div class="form-group1" >
                <label for="date">Date:</label>
                <input type="date" id="date" name="Date" required>
            </div><br>
            <div class="form-group1">
                <label for="rollNumber">Roll Number:</label>
                <input type="text" id="rollNumber" name="Roll Number" class="text" placeholder="Please type in proper format e.g. AI2008" required>
            </div><br>  
            <div class="form-group1">
                <label for="branch">Branch:</label>
                <select id="branch" name="branch" required>
                    <option value="">Select Branch</option>
                    <option value="AI&DS">Artificial Intelligence & Data Science</option>
                    <option value="CSE">Computer Science & Engineering</option>
                    <option value="ECE">Electronics & Communication Engineering</option>
                    <option value="ME">Mechanical Engineering</option>
                    <option value="CE">Civil Engineering</option>
                </select>
            </div>
            <br><hr>

            <div class="form-group">
                <label>Q1: How challenging is the syllabus offered by the curriculum?</label>
                <div class="options">
                    <label><input type="radio" name="Q1: How challenging is the syllabus offered by the curriculum?" value="Good"> Good</label>
                    <label><input type="radio" name="Q1: How challenging is the syllabus offered by the curriculum?" value="Average"> Average</label>
                    <label><input type="radio" name="Q1: How challenging is the syllabus offered by the curriculum?" value="Poor"> Poor</label>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>Q2: Appropriates of the sequence of the subjects in curriculum?</label>
                <div class="options">
                    <label><input type="radio" name="Q2: Appropriates of the sequence of the subjects in curriculum?" value="Good"> Good</label>
                    <label><input type="radio" name="Q2: Appropriates of the sequence of the subjects in curriculum?" value="Average"> Average</label>
                    <label><input type="radio" name="Q2: Appropriates of the sequence of the subjects in curriculum?" value="Poor"> Poor</label>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>Q3: Depth of the syllabus of the courses according to the competiences expected by Industry/current global scenarios?</label>
                <div class="options">
                    <label><input type="radio" name="Q3: Depth of the syllabus of the courses according to the competiences expected by Industry/current global scenarios?" value="Good"> Good</label>
                    <label><input type="radio" name="Q3: Depth of the syllabus of the courses according to the competiences expected by Industry/current global scenarios?" value="Average"> Average</label>
                    <label><input type="radio" name="Q3: Depth of the syllabus of the courses according to the competiences expected by Industry/current global scenarios?" value="Poor"> Poor</label>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>Q4: Design of the courses are promoting the self-learning approach?</label>
                <div class="options">
                    <label><input type="radio" name="Q4: Design of the courses are promoting the self-learning approach?" value="Good"> Good</label>
                    <label><input type="radio" name="Q4: Design of the courses are promoting the self-learning approach?" value="Average"> Average</label>
                    <label><input type="radio" name="Q4: Design of the courses are promoting the self-learning approach?" value="Poor"> Poor</label>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>Q5: Flexibility in choosing the electives related to technological trends?</label>
                <div class="options">
                    <label><input type="radio" name="Q5: Flexibility in choosing the electives related to technological trends?" value="Good"> Good</label>
                    <label><input type="radio" name="Q5: Flexibility in choosing the electives related to technological trends?" value="Average"> Average</label>
                    <label><input type="radio" name="Q5: Flexibility in choosing the electives related to technological trends?" value="Poor"> Poor</label>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>Q6: Percentage of the courses offering Laboratory components?</label>
                <div class="options">
                    <label><input type="radio" name="Q6: Percentage of the courses offering Laboratory components?" value="Good"> Good</label>
                    <label><input type="radio" name="Q6: Percentage of the courses offering Laboratory components?" value="Average"> Average</label>
                    <label><input type="radio" name="Q6: Percentage of the courses offering Laboratory components?" value="Poor"> Poor</label>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>Q7: Composition of the courses in terms of Basic science, Engineering, Humanities, electives, projects, etc?</label>
                <div class="options">
                    <label><input type="radio" name="Q7: Composition of the courses in terms of Basic science, Engineering, Humanities, electives, projects, etc?" value="Good"> Good</label>
                    <label><input type="radio" name="Q7: Composition of the courses in terms of Basic science, Engineering, Humanities, electives, projects, etc?" value="Average"> Average</label>
                    <label><input type="radio" name="Q7: Composition of the courses in terms of Basic science, Engineering, Humanities, electives, projects, etc?" value="Poor"> Poor</label>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>Q8: Curriculum in relation to current professional standards?</label>
                <div class="options">
                    <label><input type="radio" name="Q8: Curriculum in relation to current professional standards?" value="Good"> Good</label>
                    <label><input type="radio" name="Q8: Curriculum in relation to current professional standards?" value="Average"> Average</label>
                    <label><input type="radio" name="Q8: Curriculum in relation to current professional standards?" value="Poor"> Poor</label>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>Q9: Sufficiency of syllabus content to bridge the gap between academia and industry?</label>
                <div class="options">
                    <label><input type="radio" name="Q9: Sufficiency of syllabus content to bridge the gap between academia and industry?" value="Good"> Good</label>
                    <label><input type="radio" name="Q9: Sufficiency of syllabus content to bridge the gap between academia and industry?" value="Average"> Average</label>
                    <label><input type="radio" name="Q9: Sufficiency of syllabus content to bridge the gap between academia and industry?" value="Poor"> Poor</label>
                </div>
            </div>
            <br>

            <!-- Add more question sets as needed -->

            <button class="submitButton" type="submit" >Submit</button>
        </form>
    </div>
    <div class="footer">
        &copy; 2024 Rupesh & Noman (AI & DS). All rights reserved.
    </div>
    <!-- <script src="script.js"></script> -->
</body>
</html>
