<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Submitted Successfully</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="college-section">
            <div class="college-logo1">
                <img src="static/college logo1.jpg" alt="College Logo1">
            </div>
            <div class="college-name">
                <h1>CSMSS CHH. Shahu College of Engineering</h1>
            </div>
            <div class="college-logo2">
                <img src="static/college logo2.jpg" alt="College Logo2">
            </div>
        </div>
        <br><hr>
        <h2>Feedback Submitted Successfully</h2>
        <h3>Thank you for your feedback!</h3>
    </div>
</body>
</html>
